:root {
  --wine-red: #c7375f;
  --bright-red: #d42d2f;
  --dark-green: #344d2f;
  --light-green: #77a047;
  --gold: #fac57d;
  --snow: #f0f4f7;
}

*, html, body {
    margin: 0;
    padding: 0;
}

body {
    background: var(--light-green);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Caveat', cursive;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 310px;
    min-height: 350px;
    border-radius: 5px;
    background: var(--snow);
    color: #d42d2f;
    font-size: 35px;    
    text-align: center;
    padding: 0.5em;
    position: relative;
    margin-bottom: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

p {
   flex-basis: 100%;
   display: flex;
   align-items: center;
   font-size: 2em;
   font-weight: 700;
}

.to, .from {
    font-size: .75em;
    color: var(--dark-green);
}

form {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
}

input {
    padding: 0.5em;
    border-radius: 5px;
    border: 0;
    margin-left:  0.5em;
}

button {
    border: none;
    background-color: var(--gold);
    padding: 0.5em 1em;
    border-radius: 5px;
    margin: 0 auto;
}

button:hover {
    cursor: pointer;
}